/* Estilos do header */
.header-container {
    width: 1440px;
    height: 80px;
    margin: 0 auto; /* Centralizar o header na tela */
}

header {
    background-color: #f7f1e5;/* Alterado para 100% */
    height: 80px;   
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 10.5%; /* Tamanho máximo da logo */
    height: auto;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #333; /* Cor dos links do menu */
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição suave */
}

.menu ul li a i {
    margin-right: 5px;
}

.menu ul li a:hover {
    background-color: #E7B10A;
    color: #fff;
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição suave */
}

.main-content {
    width: 100%;
    text-align: left;
    padding: 20px;
}

.main-content h1 {
    font-size: 36px;
}

.image-container {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.package-title {
    margin-top: 20px;
}

.package-title h2 {
    font-size: 24px;
}

.packages {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.package {
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.package img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.package p {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.package a {	
    display: inline-block;
    color: #fff;
    transition: background-color 0.3s ease;
    background-color: #4C4B16;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.package a:hover {
    background-color: #6C6B36; /* Cor de destaque ao passar o mouse */
}


/* Estilos para o conteúdo principal (main) */
.blog {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para os cards de conteúdo */
.blog section {
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.blog section h2, .blog section h3 {
    font-size: 24px;
    margin-top: 20px;
}

.blog section h3 {
    font-size: 20px;
}

.blog section p {
    font-size: 16px;
    margin: 10px 0;
}

.content-main {
    background-color: #898121;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content-blog {
  
    height: 250px;
    overflow: hidden;
    position: relative;
}
.manchete{
    display: flex;
    justify-content: space-around;
}
.manchete img{
    margin: 20px;
    width: 350px;;
}
.content-blog::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #807823);
}
.read-button{
    border-radius: 5px;
    margin: 10px;
    background-color: #f7f1e5;
    color: #000000;
}
.read-button:hover{
    background-color: #e3d0d0;
}
/* classe para ler mais*/
.card.active .content-blog {
    height: auto;
}
.card.active .content-blog::before {
    visibility: hidden;
}

.content-section {
    margin: 20px 0;
    padding: 20px;
    background-color: #4C4B16;
}

/* Estilos de cabeçalho */
h2 {
    font-size: 24px;
}

/* Estilos de parágrafos */
p {
    font-size: 16px;
}

/* Estilos de links */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #E7B10A;
}

gmp-map {
    height: 100%;
}

.contact-section {
    background-color: #898121;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input {
    height: 60px;
}

.form-group textarea {
    height: 180px;
    resize: none; /* Impede que o usuário redimensione a textarea */
}

button[type="submit"] {
    background-color: #6C6B36;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #4C4B16;
}

/* Alterando a cor do texto */
.form-group input,
.form-group textarea,
button[type="submit"] {
    color: #000; /* Altere para a cor desejada, por exemplo, #000 para preto */
}



footer {
    background-color: #4C4B16;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    flex: 1;
    width: 40%;
}

.footer-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links,
.footer-social {
    flex: 1;
    text-align: right; /* Alinhar o conteúdo à direita */
}

.footer-links h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul,
.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-social li {
    margin-bottom: 5px;
}

.footer-links a,
.footer-social a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.footer-links a:hover,
.footer-social a:hover {
    text-decoration: underline;
}

.additional-info {
    flex: 1;
}

.additional-info p {
    color: #fff;
    font-weight: bold;
}


button {
    background-color: #4C4B16;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #6C6B36; /* Cor de destaque ao passar o mouse */
}

/* Estilo da barra de pesquisa */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.search-bar button {
    background-color: #E7B10A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-bar button:hover {
    background-color: #FFD700;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo dos resultados de pesquisa */
.search-results {
    text-align: center;
}

.search-results h3 {
    font-size: 24px;
    margin-top: 20px;
}

.search-results p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilo para nenhum resultado encontrado */
.search-results p.no-results {
    font-weight: bold;
    color: #FF0000; /* Vermelho para indicar nenhum resultado */
}


.mobile-menu {
    display: none; /* Ocultar o ícone do menu em telas maiores */
    font-size: 24px;
}

/* Estilos para telas menores (por exemplo, dispositivos móveis) */
@media (max-width: 768px) {
    .menu ul {
        display: none; /* Ocultar o menu principal em telas menores */
    }

    .mobile-menu {
        display: block; /* Mostrar o ícone do menu em telas menores */
    }
}
